*:focus{
    outline: none;
}

#description:focus{
    background-color: rgba(219, 216, 216,0.5);
}


#title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#main-container{
    width: 75vw;
    border: 2px solid black;
    margin: auto;
    padding-bottom: 20px;
}

#description-container{
    min-width: 95%;
    max-width: 95%;
    min-height: 50px;
    max-height: 50px;
    margin-left: 2.5%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#description{
    height: 80%;
    width:80%;
    resize: none;
    border:none;
    margin-top: 10px;
}

#flex-box-form{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 95%;
    margin: auto;
    height: 70px;
    margin-bottom: 20px;
    border-bottom: 0.5px solid black;
}

#date-container{
    height: 100%;
    width: 49%;
    border: none;
    padding-left: 1%;
    box-sizing: border-box;
    padding-top: 10px;
}

#date{
    width: 100%;
    border: none;
    margin-top: 10px;
}

#category-container{
    height: 100%;
    width: 50%;
    border-right: 1px solid black;
    box-sizing: border-box;
    padding-top: 10px;
}

#category{
    border: none;
    width: 100%;
    margin-top: 10px;
}

.buttons-container{
    display:flex;
    justify-content: center;
    width: 95%;
    margin: auto;
}

.buttons-container:nth-child(2){
    border-bottom: 1px solid black;
}

#delete,#submit{
    height: 40px;
    width: 150px;
    margin: 0 5px;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#submit{
    background-color: rgb(0, 132, 255);
}

#delete-link{
    text-decoration: none;
}

#delete{
    background-color: red;
}

span>img{
    height: 20px;
}

#taskList{
    max-height: 300px;
    overflow: auto;
    min-height: 300px;
}

.task-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid black;
    width: 95%;
    margin: auto;
}

.task-container-left{
    display: flex;
    align-items: center;
}

.task-container-left>div>p{
    margin: 5px 0;
    padding-left: 10px;
}

.list-date{
    display:flex;
    align-items:center;
    color: gray;
}

.task-container-right{
    margin-right: 30px;
    width: 75px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
}

#School{
    background-color: purple;
}

#Personal{
    background-color: Green;
}

#Cleaning{
    background-color: blueviolet
}

#Work{
    background-color: Black;
}

#Other{
    background-color: rgb(64, 63, 63);
}


